/* CSS général */
p, h1, h2 {
  margin: 0;
  text-align: center;
  padding: 0.3rem;
}
body {
  width: 80%;
  border: 2px solid green;
  min-width: min-content;
}
  div {
  border: 1px solid red;
}
.bdn{
    border:2px solid black;
}
.interne{
  height: 120px;
  background-color: aliceblue;
  padding-top: 20px;
  overflow: hidden;
  text-align: justify;
}
.conteneur {
  position: relative;
}
ul {
  text-decoration: none;
  list-style-type: none;
  background: rgb(255,255,255,70%);
}
li {
  flex: 1;
  text-align: center;
}
a{
  text-decoration:none;
}
ul:hover{
  cursor: pointer;
}

/* horizontal vertical */ 
.HV .menu {
  display : flex;
  /*position: absolute;*/
  margin:0;
  width: 100%;
  padding: 0;
}
.S .menu li:hover .smenu {
  display: block;
}
.S .menu li:active .smenu {
  display: none;
}
.S .menu .smenu {
  display:none;
  padding: 0;
}
.T .menu .smenu {
  padding:0;
  height: 0;
  overflow: hidden;
  border: 1px solid green;
  transition: height 0.2s;
}
.T .menu li:hover .smenu {
  height: 60px;
  /* taille adaoptée. Sinon prendre 100% */
}
.T .menu li:active .smenu {
  display: none;
}

/* vertical transition */ 
.flex {
  display: flex;
  flex-direction: row-reverse;
}
.V ul {
  padding: 0;
  margin: 0px 4px auto 4px;
  height: 32px;
  overflow:hidden;
  transition: height 0.2s;
  border: 1px solid green;
}
.V ul:hover {
  height: 100%;
}
.V ul:active {
  height: 0%;
}
